*
{
    padding: 0%;
    margin: 0%;
}

body
{
    background-color: rgb(46, 46, 46);
}


#color_block
{
    width: 30rem;
    height: 40rem;
    border: 1px solid pink;
}

#color_text
{
    border: 1px solid white;
    background-color: transparent;
    margin-left: 8rem;
    color: aliceblue;
}
